<!--
  Component: Navbar
  Top navigation. Each button's text must match a page's data-page value
  (see the components in /components). To add a page: add a <li> here and a
  matching page component, then register it in index.html.
-->
<nav class="navbar">

  <ul class="navbar-list">

    <li class="navbar-item">
      <button class="navbar-link  active" data-nav-link>About</button>
    </li>

    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Resume</button>
    </li>

    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Portfolio</button>
    </li>

    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Blog</button>
    </li>

    <li class="navbar-item">
      <button class="navbar-link" data-nav-link>Contact</button>
    </li>

  </ul>

</nav>
